body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #eaf2f8;
    margin-top: 50px;
  }
  
  input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 10px 15px;
    margin-left: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #weatherInfo {
    margin-top: 30px;
    background-color: white;
    border-radius: 10px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  